@import "~bootstrap/scss/bootstrap.scss";

body,.counter {
    display: flex;
    align-items: center;
    justify-content: center; 
}

body {
    height: 100vh;
}

.counter{
    background: black;
    color: white;
    font-size: 4rem;
    .fa-clock{
        margin: 1rem 2rem;
    }
    .digit {
        padding: 1rem 2rem;
        border-left: 1px solid lightgray;
    }
}
